<h1 class="text-2xl font-bold mb-4">Listado de productos por página</h1>

{{#if info.hasPrevPage}}
    <a class="btn btn-primary" href="/?page={{info.prevPage}}&limit={{info.limit}}&sort={{../sort}}&query={{../query}}&type={{../type}}">Página Anterior</a>
{{/if}}
<p class="text-center">Página {{info.page}} de {{info.totalPages}}</p>
{{#if info.hasNextPage}}
    <a class="btn btn-primary" href="/?page={{info.nextPage}}&limit={{info.limit}}&sort={{../sort}}&query={{../query}}&type={{../type}}">Página Siguiente</a>
{{/if}}

<h2 class="text-xl font-semibold mt-4">Listado de {{info.totalDocs}} productos que vamos viendo de a {{info.limit}} productos por página de un total de {{info.totalPages}} páginas.</h2>

<div class="grid grid-cols-1 md:grid-cols-3 gap-4">
{{#each info.docs}}
    <div class="card bg-base-100 shadow-xl">
      <div class="card-body">
        <h2 class="card-title"><a href="/products/{{this._id}}">{{this.title}}</a></h2>
        <p>{{this.description}}</p>
        <p>Precio: {{this.price}}</p>
        <p>Categoría: {{this.category}}</p>
      </div>
    </div>
{{/each}}
</div>

<h2 class="text-xl font-semibold mt-4">Crear Producto</h2>
<form action="/api/products" method="post" class="bg-base-200 p-4 rounded-lg">
    <div class="form-control">
        <label class="label">Título:</label>
        <input type="text" name="title" placeholder="Título" required class="input input-bordered w-full max-w-xs" />
    </div>
    <div class="form-control">
        <label class="label">Descripción:</label>
        <input type="text" name="description" placeholder="Descripción" required class="input input-bordered w-full max-w-xs" />
    </div>
    <div class="form-control">
        <label class="label">Precio:</label>
        <input type="number" name="price" placeholder="Precio" required class="input input-bordered w-full max-w-xs" />
    </div>
    <div class="form-control">
        <label class="label">Código:</label>
        <input type="text" name="code" placeholder="Código" required class="input input-bordered w-full max-w-xs" />
    </div>
    <div class="form-control">
        <label class="label">Stock:</label>
        <input type="number" name="stock" placeholder="Stock" required class="input input-bordered w-full max-w-xs" />
    </div>
    <div class="form-control">
        <label class="label">Categoría:</label>
        <input type="text" name="category" placeholder="Categoría" required class="input input-bordered w-full max-w-xs" />
    </div>
    <button type="submit" class="btn btn-primary mt-4">Crear Producto</button>
</form>

<h2 class="text-xl font-semibold mt-4">Actualizar Producto</h2>
<form action="/api/products/:pid" method="put" class="bg-base-200 p-4 rounded-lg">
    <div class="form-control">
        <label class="label">Seleccione un Producto:</label>
        <select name="pid" required class="select select-bordered w-full max-w-xs">
            <option value="" disabled selected>Seleccione un Producto</option>
            {{#each products}}
                <option value="{{this._id}}">{{this.title}} (ID: {{this._id}})</option>
            {{/each}}
        </select>
    </div>
    <div class="form-control">
        <label class="label">Título:</label>
        <input type="text" name="title" placeholder="Título" class="input input-bordered w-full max-w-xs" />
    </div>
    <div class="form-control">
        <label class="label">Descripción:</label>
        <input type="text" name="description" placeholder="Descripción" class="input input-bordered w-full max-w-xs" />
    </div>
    <div class="form-control">
        <label class="label">Precio:</label>
        <input type="number" name="price" placeholder="Precio" class="input input-bordered w-full max-w-xs" />
    </div>
    <div class="form-control">
        <label class="label">Código:</label>
        <input type="text" name="code" placeholder="Código" class="input input-bordered w-full max-w-xs" />
    </div>
    <div class="form-control">
        <label class="label">Stock:</label>
        <input type="number" name="stock" placeholder="Stock" class="input input-bordered w-full max-w-xs" />
    </div>
    <div class="form-control">
        <label class="label">Categoría:</label>
        <input type="text" name="category" placeholder="Categoría" class="input input-bordered w-full max-w-xs" />
    </div>
    <button type="submit" class="btn btn-primary mt-4">Actualizar Producto</button>
</form>

<h2 class="text-xl font-semibold mt-4">Eliminar Producto</h2>
<form action="/api/products/:pid" method="delete" class="bg-base-200 p-4 rounded-lg">
    <div class="form-control">
        <label class="label">Seleccione un Producto:</label>
        <select name="pid" required class="select select-bordered w-full max-w-xs">
            <option value="" disabled selected>Seleccione un Producto</option>
            {{#each products}}
                <option value="{{this._id}}">{{this.title}} (ID: {{this._id}})</option>
            {{/each}}
        </select>
    </div>
    <button type="submit" class="btn btn-primary mt-4">Eliminar Producto</button>
</form>

<h2 class="text-xl font-semibold mt-4">Aggregar Productos</h2>
<button onclick="fetch('/aggregateProducts')" class="btn btn-primary mt-4">Aggregar Productos</button>
<div id="aggregationResults"></div>